<!DOCTYPE html>
<html lang="en">
  <head>
        <title>FiresideSat</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,
                                       initial-scale=1.0"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
  </head>
  <body>
    <div class="center-banner">
      <h1>fireside sat</h1>
    </div>
    <div class="center-options">
      <div>
           <input type="button"
                  onclick="window.location.href='{{url_for('register')}}'"
                  value='Register'>
      </div>
      <div>
           <input type="button"
                  onclick="window.location.href='{{url_for('trips')}}'"
                  value='Trips'>
      </div>
      <div>
           <input type="button"
                  onclick="window.location.href='{{url_for('users')}}'"
                  value='Users'>
      </div>
      <div>
           <input type="button"
                  onclick="window.location.href='{{url_for('trips')}}'"
                  value='Trips'>
      </div>
    </div>

  </body>
</html>
