
{% macro make_nav_bar(calling_page) -%}
<div class="topnav">
  {% for page in ['home', 'admin', 'users'] %}
     {% if calling_page == page %}
  <a class="active" href="{{url_for(page)}}">
    {{page.replace("_", " ")}}
  </a>
     {% else %}
  <a href="{{url_for(page)}}">
    {{page.replace("_", " ")}}
  </a>
     {% endif %}
  {% endfor %}
  <a href="http://localhost:8080/">dags</a>
</div>
{% endmacro %}

{% macro select_state(user_states) -%}
<div style="width: 100%; 
            display: grid; 
            grid-template-columns: repeat(5, auto);
            align-items: center;
            margin-left: 5em;">
  {% for state in [ 'US-AK', 'US-AL', 'US-AR', 'US-AZ', 'US-CA', 'US-CO',
                    'US-CT', 'US-DC', 'US-DE', 'US-FL', 'US-GA', 'US-HI',
                    'US-IA', 'US-ID', 'US-IL', 'US-IN', 'US-KS', 'US-KY',
                    'US-LA', 'US-MA', 'US-MD', 'US-ME', 'US-MI', 'US-MN',
                    'US-MO', 'US-MS', 'US-MT', 'US-NC', 'US-ND', 'US-NE',
                    'US-NH', 'US-NJ', 'US-NM', 'US-NV', 'US-NY', 'US-OH',
                    'US-OK', 'US-OR', 'US-PA', 'US-PR', 'US-RI', 'US-SC', 'US-SD',
                    'US-TN', 'US-TX', 'US-UT', 'US-VA', 'US-VT', 'US-WA',
                    'US-WI', 'US-WV', 'US-WY' ] %}
  {% if state in user_states %}
  <label><input name="user_states" id="user_states"
                type="checkbox" value="{{state}}" checked>
    {{state}}
  </label>
  {% else %}
  <label><input name="user_states" id="user_states"
                type="checkbox" value="{{state}}">
    {{state}}
  </label>
  {% endif %}
  {% endfor %}
</div>
{% endmacro %}

{% macro make_update_trip_input(mapshare_id, trip) -%}

<hr width="100%" 
    size="1" 
    align="center"
    color="black">

<form class="form-box" method="post">
        <div style="display: none;">
          <input type="hidden"
                 value="{{mapshare_id}}" 
                 id="mapshare_id"
                 name="mapshare_id"
                 readonly>
        </div>
        <div style="display: none;">
          <input type="hidden"
                 value="{{trip.trip_id}}" 
                 id="trip_id"
                 name="trip_id"
                 readonly>
        </div>
        <div class="form-entry" style="margin-right:1em;">
            <label for="trip_start">Start Date: </label>
            <input type="date" id="trip_start"
                   name="trip_start"
                   value="{{trip.start_date.strftime('%Y-%m-%d')}}">
        </div>
        <div class="form-entry">
            <label for="trip_end">End Date: </label>
            <input type="date" id="trip_end"
                   name="trip_end"
                   value="{{trip.end_date.strftime('%Y-%m-%d')}}">
        </div>
        <div class="submit-buttons">
          <input type="submit"
                 formaction="{{ url_for('update_trip') }}"
                 value="Update"
                 style="margin-right: 1em;">
          <input type="submit"
                 formaction="{{ url_for('delete_trip') }}"
                 value="Delete">
        </div>
</form>

{% endmacro %}
