<!DOCTYPE html>
<html lang="en">
  <head>
        <title>fireside sat</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,
                                       initial-scale=1.0"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
  </head>
  <body>
    <div class="center-banner">
      <h1>fireside sat</h1>
    </div>
    <div class="center-options">
      <form class="login-box"
            action="{{ url_for('register') }}"
            method = "post">
            <div class="usr-login">
                <label for="usr_email">Email Address:</label>
                <input type="email" id="usr_email"
                       name="email" required>
            </div>
            <div class="usr-login">
                <label for="usr_mapshare_id">MapShare ID:</label>
                <input type="text" pattern="^[0-9a-zA-Z].*"
                       id="usr_mapshare_id"
                       name="mapshare_id" required>
            </div>
            <div class="usr-login">
                <label for="usr_mapshare_pw">MapShare Password:</label>
                <input type="text" pattern="^[0-9a-zA-Z].*"
                       id="usr_mapshare_pw"
                       name="mapshare_password" required>
            </div>
            <div class="sign-button">
              <input type="submit" value="Sign up">
            </div>
            {% block response %}
            <div> {{result.message}} </div>
            {% endblock %}
      </form>
    </div>
  </body>
</html>
