<!DOCTYPE html>
<html lang="en">
  <head>
        <title>FiresideSat</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,
                                       initial-scale=1.0"/>
        <link rel="stylesheet" href="{{ url_for('static',
                                     filename='css/styles.css')}}">
        {% import "macros.html" as macros %}
  </head>
  <body>
    {{ macros.make_nav_bar('trips') }}
    <div class="center-options">

      <fieldset>
         <legend>Set User</legend>  
      <form class="form-box"
            action="{{ url_for('user_trips') }}"
            method = "post">
      
      
             <div class="form-field">
                <label for="usr_mapshare_id">MapShare ID:</label>
                <input type="text" pattern="^[0-9a-zA-Z].*"
                       id="usr_mapshare_id"
                       name="mapshare_id" required>
            </div>
            <div class="submit-button">
                <input type="submit" value="Set">
            </div>

      </form>
      </fieldset>   
      
        {% block response %}
             <div> {{result.message}} </div>
        {% endblock %}
             
    </div>
  </body>
</html>
