<!DOCTYPE html>
<html lang="en">
  <head>
        <title>FiresideSat</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,
                                       initial-scale=1.0"/>
        <link rel="stylesheet" href="{{ url_for('static',
                                     filename='css/styles.css')}}">
        {% import "macros.html" as macros %}
  </head>
  <body>
    {{ macros.make_nav_bar('trips') }}
    
    <div class="center-options">

      <fieldset>
       <legend>Choose User</legend>
      <form class="form-box"
            action="{{ url_for('user_trips') }}"
            method = "post">

        <div class="form-field">
                <label for="usr_mapshare_id">MapShare ID:</label>
                <input type="text"
                       pattern="^[0-9a-zA-Z].*"
                       value="{{current_mapshare_id}}"
                       id="usr_mapshare_id"
                       name="mapshare_id" required>
        </div>
        <div class="submit-button">
            <input type="submit" value="Go">
        </div>
      </form>

      {% block user_response %}
        <div> {{user_result.message}} </div>
      {% endblock %}
        </fieldset>
    </div>

    <div class="center-options">

      <fieldset>
        
        <legend> Trips </legend>
      <!-- form for adding a new trip -->
        <form class="form-box"
              method="post"
              action="{{ url_for('add_trip') }}">
        
        <div class="trip-field">
            <div class="form-field">
              <input type="hidden"
                     value="{{current_mapshare_id}}" 
                     id="mapshare_id"
                     name="mapshare_id"
                     readonly>
            </div>
            <div class="form-field">
                <label for="trip_start">Start Date: </label>
                <input type="date" id="trip_start"
                       name="trip_start">
            </div>
            <div class="form-field">
                <label for="trip_end">End Date: </label>
                <input type="date" id="trip_end"
                       name="trip_end">
            </div>
            <div class="submit-button">
              <input type="submit" style="width: 100px;" value="Add">
            </div>
        </div>
        
        </form>

      {% for trip in user_trips %}
        {{ macros.make_update_trip_input(current_mapshare_id, trip) }}
      {% endfor %}
        
      {% block trip_response %}
        <div> {{trip_result.message}} </div>
      {% endblock %}

      </fieldset>

     </div>
             
    </div>
  </body>
</html>
