<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FiresideSat</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,
                                   initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ url_for('static',
                                 filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',
                                 filename='css/top_nav.css')}}">
    {% import "macros.html" as macros %}
  </head>
  <body>
    {{ macros.make_nav_bar('users') }}
    
    <div class="option">
      <fieldset>
         <legend>Change User</legend>
        <form class="form-box"
              action="{{ url_for('load_user_settings') }}"
              method = "post">
          <div class="form-field">
            <label for="usr_mapshare_id">MapShare ID:</label>
            <input type="text"
                   pattern="^[0-9a-zA-Z].*"
                   value=" "
                   id="usr_mapshare_id"
                   name="mapshare_id" required>
          </div>
          <div class="submit-buttons">
            <input type="submit" value="Change">
          </div>
        </form>
      </fieldset>

    </div>

    <div class="option bold">
      <div style="width: 100%; text-align: center;">
        {% block user_response %}
        {{user_result.message}}
        {% endblock %}
      </div>
    </div>

    <div class="option">
      <fieldset>
        <legend>Alert Radius</legend>
        <form class="form-box"
              method="post"
              action="{{ url_for('set_user_alert_radius') }}">
          <div style="display: none;">
            <input type="hidden"
                   value="{{user.get_mapshare_id()}}" 
                   id="mapshare_id"
                   name="mapshare_id"
                   readonly>
          </div>
          <div class="form-entry">
            <input type="number"
                   value="{{ user.get_radius() }}"
                   min="10"
                   max="100"
                   id="usr_alert_radius"
                   name="usr_alert_radius"
                   style="margin-right: 5px;"required>
            Miles
          </div>
          <div class="submit-buttons">
            <input type="submit" value="Update">
          </div>
        </form>
      </fieldset>
    </div>

    <div class="option bold">
      {% block radius_response %}
      <div> {{radius_result.message}} </div>
      {% endblock %}
    </div>

    <div class="option">
      <fieldset>
        <legend> States/Regions </legend>
        <div style="width: 100%; text-align: center; margin-bottom: 1em;">
          Select all that apply:
        </div>
        <form class="form-box"
              method="post"
              action="{{ url_for('update_user_states') }}">
          <div style="display: none;">
            <input type="hidden"
                   value="{{user.get_mapshare_id()}}"
                   id="mapshare_id"
                   name="mapshare_id"
                   readonly>
          </div>
          {{ macros.select_state( user.get_states() )}}
          <div style="width:100%; display: flex; justify-content: center;">
            <div class="submit-buttons" style="max-height: 2em;">
              <input type="submit" value="Update">
            </div>
          </div>
        </form>
      </fieldset>
    </div>

    <div class="option bold">
      {% block state_response %}
      <div> {{state_result.message}} </div>
      {% endblock %}
    </div>
    
    <div class="option">
      <fieldset>
        <legend> Trips </legend>
        
        <form class="form-box" method="post"
              action="{{ url_for('add_trip') }}">
          <div style="display: none;">
            <input type="hidden"
                   value="{{user.get_mapshare_id()}}" 
                   id="mapshare_id"
                   name="mapshare_id"
                   readonly>
          </div>
          <div class="form-entry" style="margin-right: 1em;">
            <label for="trip_start">Start Date: </label>
            <input type="date" id="trip_start"
                   name="trip_start" required>
          </div>
          <div class="form-entry">
            <label for="trip_end">End Date: </label>
            <input type="date" id="trip_end"
                   name="trip_end" required>
          </div>
          <div class="submit-buttons">
            <input type="submit" value="Add">
          </div>
        </form>

        {% for trip in user.get_trips() %}
        {{ macros.make_update_trip_input(user.get_mapshare_id(), trip) }}
        {% endfor %}

      </fieldset>
    </div>

    <div class="option bold">
      {% block trip_response %}
      <div> {{trip_result.message}} </div>
      {% endblock %}
    </div>

    <div class="option">
      <fieldset>
        <legend> Change Mapshare Password </legend>
        <form class="form-box" method="post">
          <div style="display: none;">
            <input type="hidden"
                   value="{{user.get_mapshare_id()}}" 
                   id="mapshare_id"
                   name="mapshare_id"
                   readonly>
          </div>
          <div class="form-entry">
            <label for="old_password"> Old Password </label>
            <input type="text"
                   pattern="^[0-9a-zA-Z].*"
                   value=""
                   id="old_password"
                   name="old_password" required>
          </div>
          <div class="form-entry" style="margin-left: 1em;">
            <label for="new_password"> New Password </label>
            <input type="text"
                   pattern="^[0-9a-zA-Z].*"
                   value=""
                   id="new_password"
                   name="new_password" required>
          </div>
          <div class="submit-buttons">
            <input type="submit" value="Change">
          </div>
        </form>
      </fieldset>
    </div>

    <div class="option bold">
      {% block pw_response %}
      <div>  </div>
      {% endblock %}
    </div>


    <div class="option">
      <fieldset>
        <legend> Delete This User </legend>
        <div style="width: 100%; text-align: center; margin-bottom: 1em;">
          Enter the user's Mapshare ID for confirmation
        </div>
        <form class="form-box" method="post"
              action="{{ url_for('delete_user') }}">
          <div style="display: none;">
            <input type="hidden"
                   value="{{user.get_mapshare_id()}}" 
                   id="mapshare_id"
                   name="mapshare_id"
                   readonly>
          </div>
          <div class="form-entry">
            <label for="confirmation_id"> Mapshare ID: </label>
            <input type="text"
                   pattern="^[0-9a-zA-Z].*"
                   value=""
                   id="confirmation_id"
                   name="confirmation_id" required>
          </div>
          <div class="submit-buttons">
            <input type="submit" value="Delete">
          </div>
        </form>
      </fieldset>
    </div>

    <div class="option bold">
      {% block delete_response %}
      <div> {{delete_result.message}} </div>
      {% endblock %}
    </div>
  </body>
  
</html>
