
body {
    height: auto;
    width: auto;
}


.option {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

fieldset {
    width: 100%;
}

.bold {
    font-weight: bold;
}

.form-box {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

label {
    margin-right: 10px;
}

legend {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

.form-entry {
    width: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.submit-buttons {
    width: 12em;
    height: 1.5em;
    display: flex;
    justify-content: center;
}

.signup-box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
}
