<!DOCTYPE html>
<html lang="en">
  <head>
        <title>fireside sat</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,
                                       initial-scale=1.0"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
  </head>
  <body>
    <div class="center-banner">
      <h1>fireside sat</h1>
    </div>
    <div class="center-options">
        <div class="login-box">
            <div class="usr-login">
                <label for="email">Email Address:</label>
                <input type="email" id="usr_email"
                       name="email" required>
            </div>
            <div class="usr-login">
                <label for="usr_pw">Password:</label>
                <input type="password" id="usr_pw" name="password"
                       minlength="8" required>
            </div>
            <div class="sign-button">
              <input type="submit" value="Sign in">
            </div>
            <div class="signup-box">
              <a href= "{{ url_for('new_user') }}">Sign up</a>
            </div>
        </div>
    </div>

  </body>
</html>
